<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
  <meta http-equiv="x-ua-compatible" content="IE=edge">
  <meta name="description" content="Noughts and Crosses machine learning experiment">
  <meta name="author" content="Ade Rowbotham">
  <title>Machine Learning Experiments - Noughts and Crosses</title>

  <link href="node_modules/foundation-sites/dist/css/foundation.min.css" rel="stylesheet">
  <link href="node_modules/foundation-sites/dist/css/foundation-float.css" rel="stylesheet">
  <link href="css/noughts.css?r=8" rel="stylesheet">

  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-188815-26"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-188815-26');
  </script>

</head>
<body>

  <div class="row">
    <div class="large-12 columns">

      <div ng-app="noughts" class="ng-cloak">

        <div class="row">
          <div class="small-12 columns">
            <h6>Machine Learning Experiments &ndash; Noughts and Crosses</h6>
          </div>
        </div>

        <div class="row game-area">
          <div class="large-5 medium-6 small-12 columns">
            <div ng-noughts-gameboard></div>
          </div>

          <div class="large-7 medium-6 small-12 columns">

            <div class="row align-middle">
              <div class="small-12 columns">
                <button class="button reset-button" type="button" ng-click="resetGame()">New game</button>
              </div>
            </div>

            <div ng-game-status-panel class="stats-panel">
              <div>{{ status.allGamesOutcome.length }} Games: Human {{ status.humanWins }}, CPU {{ status.computerWins }}, draw {{ status.draws }}</div>
              <div>{{ game.gameActive ? "Game in progress" : "Game finished" }}</div>
              <div ng-show="game.gameActive">Turn: {{ game.turn }} ({{ game.turnSymbol.toUpperCase() }})</div>
              <div class="winner" ng-show="game.winner">{{ game.winner }} is the winner</div>
              <div class="winner" ng-show="!game.winner && !game.gameActive">It was a draw</div>
            </div>

            <p>Machine learning experiement inspired by <a href="https://www.mscroggs.co.uk/menace/" class="text-link">Matthew Scroggs’ MENACE</a>. This implementation uses very similar reinforcement principles.</p>

            <div class="small-buttons">
              <button class="button tiny success load-button align-bottom" type="button" ng-click="loadPlayer()">Load trained computer player</button>
              <button class="button tiny alert hard-reset-button align-bottom" type="button" ng-click="hardResetGame()">Reset computer player</button>
            </div>

            <p><a href="https://github.com/aderowbotham/noughts-and-crosses" class="text-link" target="_blank">See source on GitHub</a></p>

          </div>
        </div>

        <div class="row">
          <div class="small-12 columns">
            <p><a class="text-link footer-link" href="https://aderowbotham.com/" target="_blank">aderowbotham.com</a></p>
          </div>
        </div>

      </div>

    </div>
  </div>


  <script src="node_modules/angular/angular.min.js"></script>
  <script src="node_modules/angular-local-storage/dist/angular-local-storage.min.js"></script>

  <script src="js/app.js?r=8"></script>
  <script src="js/game-state.js?r=8"></script>
  <script src="js/computer-player.js?r=8"></script>
  <script src="js/mirrors-service.js?r=8"></script>

</body>
</html>
