<div id="game-board" class="gameboard" ng-on-resize="onPanelResize">

  <div class="row top-row">
    <div class="small-4 columns square">
      <a class="button">
        <div class="table">
            <div class="table-cell">x</div>
        </div>
      </a>
    </div>
    <div class="small-4 columns square">
      <a class="button">
        <div class="table">
            <div class="table-cell">o</div>
        </div>
      </a>
    </div>
    <div class="small-4 columns square">
      <a class="button">
        <div class="table">
            <div class="table-cell">x</div>
        </div>
      </a>
    </div>
  </div>

  <div class="row middle-row">
    <div class="small-4 columns square">
      <a class="button">
        <div class="table">
            <div class="table-cell">o</div>
        </div>
      </a>
    </div>
    <div class="small-4 columns square">
      <a class="button">
        <div class="table">
            <div class="table-cell">x</div>
        </div>
      </a>
    </div>
    <div class="small-4 columns square">
      <a class="button">
        <div class="table">
            <div class="table-cell">o</div>
        </div>
      </a>
    </div>
  </div>

  <div class="row bottom-row">
    <div class="small-4 columns square">
      <a class="button">
        <div class="table">
            <div class="table-cell">x</div>
        </div>
      </a>
    </div>
    <div class="small-4 columns square">
      <a class="button">
        <div class="table">
            <div class="table-cell">o</div>
        </div>
      </a>
    </div>
    <div class="small-4 columns square">
      <a class="button">
        <div class="table">
            <div class="table-cell">x</div>
        </div>
      </a>
    </div>
  </div>
</div>
